<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="subSonicConnectionString" connectionString="Data Source=.\sql2k14; Initial Catalog=VMS_2017; User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="ORM">
    <providers>
      <clear/>
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="subSonicConnectionString" generatedNamespace="VNS.HIS.DAL"/>
    </providers>
  </SubSonicService>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
